<div class='container'>
   <div class='row'>
    <div class='col-lg-9'>
      <table class="table table-borderless my-4">
        <tbody>
          <tr>
            <td style="width: 15%;">
              <% if (@post_request.is_annonymous == true)&&(@post_request.user != current_user) %>
                <%= image_tag("no_image.jpg", size: "100x100") %>
                <br><p>匿名さん</p>
              <% else %>
                <%= attachment_image_tag(@post_request.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>
                <br><%= link_to @post_request.user.name, user_path(@post_request.user) %>
              <% end %>
            </td>
            <td style="width: 65%;"><%= @post_request.comment %></td>
            <td style="width: 20%;">
              <%= link_to 'Request Box', user_post_requests_path(@user), class: "btn btn-block btn-primary" %>
              <% if @post_request.user == current_user %>
                <%= link_to 'Destroy', user_post_request_path(@user, @post_request), method: :delete, class: "btn btn-block btn-danger" %>
              <% end %>
            </td>
          </tr>
          <% if @post_request.host_comment.present? %>
            <tr>
              <td>
                <%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>
                <br><%= @user.name %>
              </td>
              <td>
                <%= @post_request.host_comment %>
                <% if @user == current_user %>
                  <%= form_with(model: @post_request, url: user_post_request_path(@user, @post_request), method: :patch, local:true) do |f| %>
                    <%= f.hidden_field :host_comment, value: "" %>
                    <%= f.submit "返信を削除", class: 'btn btn-sm btn-danger' %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% if @user == current_user %>
                  <%= form_with(model:[@user, @note], url: user_creator_notes_path, local:true) do |f| %>
                    <%= f.hidden_field :comment, value: @post_request.comment %>
                    <%= f.hidden_field :requester_id, value: @post_request.user_id %>
                    <%= f.hidden_field :is_annonymous, value: @post_request.is_annonymous %>
                    <%= f.submit "創作メモに追加", class: 'btn btn-block btn-primary' %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% elsif @user == current_user %>
            <tr>
              <td>
                <%= attachment_image_tag(@post_request.host, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>
                <br><%= @post_request.host.name %>
              </td>
              <td>
                <%= form_with(model: @post_request, url: user_post_request_path(@post_request.host_id, @post_request.id), method: :patch, local:true) do |f| %>
                  <%= f.text_area :host_comment, class: "col-lg-12" %>
                  <%= f.submit "返信", class: 'btn btn-sm btn-success' %>
                <% end %>
              </td>
              <td>
                <% if @user == current_user %>
                  <%= form_with(model:[@user, @note], url: user_creator_notes_path, local:true) do |f| %>
                    <%= f.hidden_field :comment, value: @post_request.comment %>
                    <%= f.hidden_field :requester_id, value: @post_request.user_id %>
                    <%= f.hidden_field :is_annonymous, value: @post_request.is_annonymous %>
                    <%= f.submit "創作メモに追加", class: 'btn btn-block btn-primary' %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class='col-lg-2 offset-lg-1'>
      <%= render 'public/users/info', user: @user %>
    </div>
  </div>
</div>