<div class ="d-inline-flex flex-wrap">
  <% posts.each do |post| %>
    <div class="px-3 py-3">
      <% if post.post_image.present? %>
        <div>
          <%= link_to post_path(post) do %>
            <%= attachment_image_tag(post, :post_image, :fill, 160, 128) %>
          <% end %>
        </div>
        <p class="font-weight-bold my-2"><%= post.title %></p>
      <% else %>
        <div class="d-flex justify-content-center align-items-center" style="width: 160px; height: 128px;">
          <%= link_to post_path(post) do %>
            <h5 class="font-weight-bold"><%= post.title %></h5>
          <% end %>
        </div>
        <p class="my-2">text-only</p>
      <% end %>
      <p class="my-2"><%= post.user.name %></p>
    </div>
  <% end %>
</div>
<div class="py-2 d-flex align-items-center justify-content-center"><%= paginate posts %></div>
