<div class='container'>
   <div class='row'>
    <div class='col-lg-9'>
      <div class="my-4">
        <%= attachment_image_tag(@post, :post_image, :fill, 750, 600) %>
      </div>
      <div class="mx-5 my-4">
        <h3 class="my-4"><%= @post.title %></h3>
    		<h5 class="mb-4">by <%= link_to @post.user.name, user_path(@post.user) %></h5>
        <% if @post.user == current_user %>
          <!--自分の投稿にはブックマークをつけられない-->
          <% if @post.bookmarks.present? %>
            <%= link_to bookmarking_users_post_path(@post) do %>
              <span class="text-warning">★<%= @post.bookmarks.count %></span>
            <% end %>
          <% end %>
        <% else %>
          <div id="bookmark-button-<%= @post.id %>">
            <% if @post.bookmarked_by?(current_user) %>
              <%= render 'public/bookmarks/remove-btn', post: @post %>
            <% else %>
              <%= render 'public/bookmarks/bookmark-btn', post: @post %>
            <% end %>
          </div>
        <% end %>
        <p class="my-4 lead"><%= @post.body %></p>
        <% @post.tags.each do |tag| %>
          <%= link_to search_path(content: tag.name, model: "tag", method: "perfect") do %>
            <button class="btn btn-secondary mx-1">#<%= tag.name %></button>
          <% end %>
        <% end %>
  		</div>


  		<div class="my-5">
  		  <%= link_to "See More", user_path(@post.user), class: "btn btn-primary mx-3"  %>
  		  <%= link_to "Search Page", search_page_path, class: "btn btn-info mx-3" %>
    		<% if @post.user_id == current_user.id %>
    		  <%= link_to "Edit", edit_post_path(@post), class: "btn btn-success mx-3" %>
    		  <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger mx-3" %>
    		<% end %>
  		</div>

      <p id="post-<%= @post.id %>-comments-count">コメント件数:<%= @post.comments.count %></p>
      <table id="Comment-List" class="my-5">
        <%= render 'public/comments/comment-list', post: @post %>
      </table>

      <%= render 'public/comments/comment-form', post: @post, comment: @comment %>

    </div>
    <div class='col-lg-2 offset-lg-1'>
      <%= render 'public/users/info', user: @post.user %>
    </div>

  </div>
</div>