<div class='container'>
   <div class='row'>
    <div class='col-md-8 mx-auto'>
      <%= form_with(model:[@user, @note], local:true) do |f| %>
        <%= render 'layouts/errors', obj: @note %>
        <%= f.hidden_field :requester_id, value: @user.id %>
        <div class="form-group">
          <%= f.label :comment %>
          <%= f.text_area :comment, class: 'form-control', style: 'height: 300px;' %>
        </div>
        <div id="evaluate_stars">
          <label>Rate</label>
        </div>
        <div class="form-group">
          <%= f.submit "送信", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  $('#evaluate_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'creator_note[evaluation]'
  });
</script>