<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <%= render 'public/tweets/tweet-form', tweet: @tweet %>
      <table>
        <% @tweets.each do |tweet| %>
          <tr>
            <td style="width: 15%">
                <%= link_to tweet_path(tweet) do %>
                  <%= attachment_image_tag(tweet.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg") %>
                <% end %>
                <br><%= link_to tweet.user.name, tweets_user_path(tweet.user) %>
            </td>
            <td style="width: 85%"><%= tweet.tweet %></td>
          </tr>
        <% end %>
      </table>
      <div class="py-2 d-flex align-items-center justify-content-center"><%= paginate(@tweets) %></div>
    </div>
    <div class='col-lg-2 offset-lg-1'>
      <%= render 'public/users/info', user: current_user %>
    </div>
  </div>
</div>