<div class='container'>
   <div class='row'>
    <div class='col-lg-9'>
      <%= link_to "報告一覧", admin_user_path(@user), class: "btn btn-primary my-4" %>
      <h3 class="font-weight-bold">投稿一覧</h3>
      <div class ="d-inline-flex flex-wrap">
        <% @posts.each do |post| %>
          <div class= "px-3 py-3">
            <% if post.post_image.present? %>
              <div>
                <%= link_to admin_user_post_path(@user, post) do %>
                  <%= attachment_image_tag(post, :post_image, :fill, 160, 128) %>
                <% end %>
              </div>
              <p class="font-weight-bold my-2"><%= post.title %></p>
              <%= link_to "削除", admin_user_post_path(@user, post) , method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
            <% else %>
              <div class="d-flex justify-content-center align-items-center" style="width: 160px; height: 128px;">
                <%= link_to admin_user_post_path(@user, post) do %>
                  <h4 class="font-weight-bold"><%= post.title %></h4>
                <% end %>
              </div>
              <p class="my-2">text-only</p>
              <%= link_to "削除", admin_user_post_path(@user, post) , method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="py-2 d-flex align-items-center justify-content-center"><%= paginate @posts %></div>
    </div>
  </div>
</div>