<table class='table my-4'>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td style="width: 20%;">
          <%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>
          <br><p class="pt-2 font-weight-bold"><%= user.name %></p>
        </td>
        <td class="py-4 lead" style="width: 20%;">
          Posts: <%= link_to user.posts.count, user_path(user) %>
          <br>Following: <%= link_to user.followings.count, followings_user_path(user) %>
          <br>Followers: <%= link_to user.followers.count, followers_user_path(user) %>
        </td>
        <td class="py-4" style="width: 40%;">
          <%= user.introduction %>
        </td>
        <td style="width: 20%;">
          <div class="py-2">
            <% if user == current_user %>
            <% elsif current_user.following?(user) %>
              <%= render 'public/relationships/remove-form', user: user %>
            <% else %>
              <%= render 'public/follow_requests/follow-form', user: user %>
            <% end %>
            <br>
            <% if current_user.followed_by?(user) %>
              <%= render 'public/relationships/block-form', user: user %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="py-2 d-flex align-items-center justify-content-center"><%= paginate users %></div>