
<table class="table mt-4">
  <tr>
	  <th><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></th>
	  <th class="py-5"><%= user.name %></th>
  </tr>
  <tr>
	  <th>total posts</th>
	  <th><%= user.posts.count %></th>
  </tr>
  <tr>
    <th>following</th>
    <th><%= link_to user.followings.count, followings_user_path(user) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to user.followers.count, followers_user_path(user) %></th>
  </tr>
  <% if user == current_user %>
    <tr>
      <th>follow request</th>
      <th class="py-4"><%= link_to user.potential_followers.count, potential_followers_user_path(user) %></th>
    </tr>
  <% end %>
</table>

<% if @user == current_user %>
  <div class='row ml-5'>
    <%= link_to '',edit_user_path(current_user), class: "form-group btn btn-outline-secondary btn-block fas fa-user-cog" %>
  </div>
<% end %>