
<table class="table mt-4">
  <tr>
	  <th><%= attachment_image_tag(user, :profile_image, :fill, 20, 20, fallback: "no_image.jpg") %></th>
	  <th class="py-5"><%= user.name %></th>
  </tr>
  <tr>
	  <th>total posts</th>
	  <th><%= user.posts.count %></th>
  </tr>
  <tr>
    <th>following</th>
    <th><%= user.followings.count %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= user.followers.count %></th>
  </tr>
  <% if user == current_user %>
    <tr>
      <th>follow request</th>
      <th><%= link_to user.potential_followers.count, potential_followers_user_path(user) %></th>
    </tr>
  <% end %>
</table>

<div>


</div>