
<table class="table mt-4">
  <tr>
	  <th><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></th>
	  <th>
	    <p class="py-1"><%= user.name %></p>
	    <div class="d-flex">
	      <%= link_to "Posts", user_path(user), class: "btn btn-sm btn-success mr-2" %>
	      <%= link_to "Tweets", tweets_user_path(user), class: "btn btn-sm btn-primary mr-2" %>
        <%= link_to "Favs", favorite_tweets_user_path(user), class: "btn btn-sm btn-danger" %>
	    </div>
	   </th>
  </tr>
  <% if user == current_user %>
    <tr>
      <th><%= link_to "創作メモ", user_creator_notes_path(user), class: "btn btn-primary" %></th>
      <% if user.creator_note_is_private == true %>
        <th>非公開　<%= link_to "Open", open_creator_notes_user_path(user), method: :patch, class: "btn btn-success" %></th>
      <% else %>
        <th>公開中　<%= link_to "Close", close_creator_notes_user_path(user), method: :patch, class: "btn btn-secondary" %></th>
      <% end %>
    </tr>
    <tr>
      <th><%= link_to "お題箱", user_post_requests_path(user), class: "btn btn-primary" %></th>
      <% if user.is_open_to_requests == false %>
        <th>停止中　<%= link_to "Open", open_request_box_user_path(user), method: :patch, class: "btn btn-success" %></th>
      <% else %>
        <th>募集中　<%= link_to "Close", close_request_box_user_path(user), method: :patch, class: "btn btn-secondary" %></th>
      <% end %>
    </tr>
    <tr>
      <th>follow request</th>
      <th class="py-4"><%= link_to user.potential_followers.count, potential_followers_user_path(user) %></th>
    </tr>
  <% elsif (current_user.following?(user))&&(user.following?(current_user)) %>
    <% if user.creator_note_is_private == false %>
      <tr>
        <th><%= link_to "創作メモ", user_creator_notes_path(user), class: "btn btn-primary" %></th>
        <th class="py-3">公開中</th>
      </tr>
    <% end %>
    <tr>
      <th><%= link_to "お題箱", user_post_requests_path(user), class: "btn btn-primary" %></th>
      <% if user.is_open_to_requests == true %>
        <th><%= link_to "Post", new_user_post_request_path(user), class: "btn btn-success" %></th>
      <% else %>
        <th class="py-3 text-secondary">募集停止中</th>
      <% end %>
    </tr>
    <tr>
      <th>relationship</th>
      <th>相互フォロー</th>
    </tr>
  <% elsif current_user.following?(user) %>
    <% if user.creator_note_is_private == false %>
      <tr>
        <th><%= link_to "創作メモ", user_creator_notes_path(user), class: "btn btn-primary" %></th>
        <th class="py-3">公開中</th>
      </tr>
    <% end %>
    <tr>
      <th><%= link_to "お題箱", user_post_requests_path(user), class: "btn btn-primary" %></th>
      <% if user.is_open_to_requests == true %>
        <th><%= link_to "Post", new_user_post_request_path(user), class: "btn btn-success" %></th>
      <% else %>
        <th class="py-3 text-secondary">募集停止中</th>
      <% end %>
    </tr>
    <tr>
      <th>relationship</th>
      <th>フォロー中</th>
    </tr>
  <% else %>
    <tr>
      <th class="pt-3">follow request</th>
      <th class="py-4"><%= render 'public/follow_requests/follow-form', user: user %></th>
    </tr>
  <% end %>
  <tr>
	  <th>total posts</th>
	  <th><%= user.posts.count %></th>
  </tr>
  <tr>
    <th>following</th>
    <th><%= link_to user.followings.count, followings_user_path(user) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to user.followers.count, followers_user_path(user) %></th>
  </tr>

  <tr>
    <th>bookmarks</th>
    <th><%= link_to user.bookmarks.count, bookmarks_user_path(user) %></th>
  </tr>
</table>

<% if user == current_user %>
  <%= link_to '',edit_user_path(current_user), class: "form-group btn btn-outline-secondary btn-block fas fa-user-cog ml-5" %>
<% else %>
  <%= link_to '報告', new_user_report_path(user), class: "form-group btn btn-danger btn-block" %>
<% end %>