
<div class='container'>
  <div class='row'>
    <div class='col-lg-9'>
      <h3 class="mt-4">フォローリクエスト一覧</h3>
      <table class='table my-4'>
        <tbody>
          <% @users.each do |user| %>
            <tr>
               <td style="width: 20%;">
                <%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>
                <br><%= user.name %>
              </td>
              <td class="py-4 lead" style="width: 20%;">
                Posts: <%= link_to user.posts.count, user_path(user) %>
                <br>Following: <%= link_to user.followings.count, followings_user_path(user) %>
                <br>Followers: <%= link_to user.followers.count, followers_user_path(user) %>
              </td>
              <td style="width: 40%;">
                <%= user.introduction %>
              </td>
              <% if @user == current_user %>
                <td style="width: 10%;">
                  <%= form_with url: relationships_path, method: :post, local: true do |f| %>
                    <%= f.hidden_field :user_id, value: user.id %>
                    <%= f.submit 'Accept Request', class: 'btn btn-success btn-block' %>
                  <% end %>
                </td>
                <td style="width: 10%;">
                  <%= form_with url: reject_follow_request_path(user), method: :delete, local: true do |f| %>
                    <%= f.hidden_field :user_id, value: user.id %>
                    <%= f.submit 'Reject Request', class: 'btn btn-danger btn-block' %>
                  <% end %>
                </td>
            　<% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class='col-lg-2 offset-lg-1'>
      <%= render 'public/users/info', user: current_user %>
    </div>
  </div>
</div>
