<div class='container'>
   <div class='row'>
    <div class='col-lg-9'>
      <table>
        <tbody>
          <% @request_box.each do |request| %>
            <tr>
              <td style="width: 15%;">
                <%= attachment_image_tag(request.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>
                <br><%= request.user.name %>
              </td>
              <td style="width: 70%;"><%= request.comment %></td>
              <td style="width: 15%;">
                <%= link_to 'Show', user_post_request_path(request.host_id, request.id), class: "btn btn-block btn-primary" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="py-2 d-flex align-items-center justify-content-center"><%= paginate @request_box %></div>
    </div>
    <div class='col-lg-2 offset-lg-1'>
      <%= render 'public/users/info', user: @user %>
    </div>
  </div>
</div>
