<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="col-2">
        <a class="navbar-brand" href="/">
          <div>ロゴを入れる</div>
        </a>
      </div>
      <div class="col-10">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <li><%= link_to '会員一覧', admin_users_path, class: "btn btn-light mx-2" %></li>
              <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-light mx-2" %></li>
            <% elsif user_signed_in? %>
              <li><%= link_to '新規投稿', new_post_path, class: "btn btn-light mx-2" %></li>
              <li><%= link_to '検索ページ', bookmarks_user_path(current_user), class: "btn btn-light mx-2" %></li>
              <li><%= link_to 'SNS', tweets_path, class: "btn btn-light mx-2" %></li>
              <li><%= link_to 'マイページ', user_path(current_user), class: "btn btn-light mx-2" %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-light mx-2" %></li>
            <% else %>
              <li><%= link_to '新規登録', new_user_registration_path, class: "btn btn-light mx-2" %></li>
              <li><%= link_to 'ログイン', new_user_session_path, class: "btn btn-light mx-2" %></li>
            <% end %>
          </ul>
        </div>
        <div class="text-right my-2">
          検索フォーム
        </div>
      </div>
    </div>
  </nav>
</header>